<section class="center">{{ fullName() }}
  <button (click)="setName('John')" data-tooltip="Uses signal.set" data-placement="right">Change</button>
</section>

<section class="center">
  Counter: {{ count() }}
  <button (click)="increment()" data-tooltip="Uses signal.update" data-placement="right">Increment</button>
  <div>Double that is: {{ doubleCount() }}</div>
</section>


<section data-tooltip="Uses signal.set" data-placement="bottom">
  <label for="firstname">
    First name
    <!-- There's no 2-way binding yet for signals -->
    <input [ngModel]="name()" (ngModelChange)="name.set($event)" type="text" id="firstname" name="firstname"
      placeholder="First name" />
  </label>

  <p>{{ name() }}</p>
</section>

<section data-tooltip="Uses signal.mutate" data-placement="bottom">
  <label for="companyName">

    <input [ngModel]="company().name" (ngModelChange)="onCompanyNameChange($event)" type="text" id="companyName"
      name="companyName" placeholder="Company name" />
  </label>
  <pre>{{ company() | json }}</pre>
</section>


<section data-tooltip="Uses signal.update" data-placement="bottom">
  <ol>
    <li *ngFor="let todo of todos()">
      <span>
        {{todo.title}}
      </span>
      <button (click)="deleteTodo(todo.id)">🗑️</button>
    </li>
  </ol>
  <pre>{{ todos() | json }}</pre>
</section>
